---
Checks: "
    -*,
    clang-analyzer-*,
    clang-diagnostic-*,
    cppcore-guidelines-*,
    readability-*,
    "

HeaderFileExtensions:
    - ""
    - h
    - hh
    - hpp
    - hxx
ImplementationFileExtensions:
    - c
    - cc
    - cpp
    - cxx
HeaderFilterRegex: "(src|include)/.*"

SystemHeaders: false
